@page "/manager/account/salon"

@using BeautySalonSite.Models.EmployeeModels;
@using BeautySalonSite.Models.SalonModels;
@using BeautySalonSite.Models.ScheduleModels;
@using BeautySalonSite.Models.ServiceModels;
@using BeautySalonSite.Service.EmployeeService;
@using BeautySalonSite.Service.SalonService;
@using BeautySalonSite.Service.ServiceService;
@using Microsoft.AspNetCore.Authorization;

@inject ISalonService SalonService
@inject IServiceService ServiceService
@inject IEmployeeService EmployeeService

@attribute [Authorize(Roles = "Manager")]

<PageTitle>Личный кабинет</PageTitle>

<div class="container">
    <div class="py-5">
        <h2>Личный кабинет</h2>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-1 mb-4">
            <div class="block m-1 p-4">
                <ManagerNavMenu></ManagerNavMenu>
            </div>
        </div>
        <div class="col-md-8 order-md-2">
            <div class="block m-1 p-4">
                <div class="mb-2 mt-2">
                    <h4 class="pb-3 my-1">Информация о филиале салона</h4>
                </div>
                @if (salon != null)
                {
                    <div>
                        <p>Адрес: @salon.Address</p>
                        <p>Телефон: @salon.Phone</p>
                        <p>Город: @salon.City.Name</p>
                        <div class="mt-4">
                            <h4 class="pb-3 my-1">Доход салона</h4>
                            <EditForm Model="@dateRange" OnValidSubmit="@GetSalonIncome">
                                <DataAnnotationsValidator />
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="form-label">Начальная дата:</label>
                                        <InputDate class="form-control" @bind-Value="dateRange.StartDate" />
                                        <ValidationMessage For="@(() => dateRange.StartDate)" />
                                    </div>
                                    <div class="col-md-5">
                                        <label class="form-label">Конечная дата:</label>
                                        <InputDate class="form-control" @bind-Value="dateRange.EndDate" />
                                        <ValidationMessage For="@(() => dateRange.EndDate)" />
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex align-items-end">
                                    <button type="submit" class="btn btn-primary my-3">Показать</button>
                                </div>
                            </EditForm>
                            @if (salonIncome.HasValue)
                            {
                                <p>Доход салона за выбранный период: @salonIncome</p>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <p>Информация о филиале салона недоступна.</p>
                }
            </div>
            <div class="block m-1 my-3 p-4">
                <div class="mb-2 mt-2">
                    <h4 class="pb-3 my-1">Самые востребованные услуги в филиале салона</h4>
                </div>
                <EditForm class="mb-3" Model="@inputServicesTop" OnValidSubmit="@GetTopServices">
                    <DataAnnotationsValidator />
                    <label class="mb-2" for="serviceTop">Число записей в итоговом рейтинге:</label>
                    <InputNumber class="form-control" id="serviceTop" @bind-Value=inputServicesTop.Top />
                    <ValidationMessage For="@(() => inputServicesTop.Top)" />

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-warning mt-3 mb-4">Отобразить</button>
                    </div>
                </EditForm>
                @if (topServices != null && topServices.Length > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Цена</th>
                                <th>Время выполнения</th>
                                <th>Категория</th>
                                <th>Количество записей</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var service in topServices)
                            {
                                <tr>
                                    <td>@service.Name</td>
                                    <td>@service.Price</td>
                                    <td>@service.ExecutionTime</td>
                                    <td>@service.Category.Name</td>
                                    <td>@service.AppointmentsCount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    if (topServices != null && topServices.Length == 0)
                    {
                        <p class="text-center">Востребованных услуг нет.</p>
                    }
                }
            </div>
            <div class="block m-1 my-3 p-4">
                <div class="mb-2 mt-2">
                    <h4 class="pb-3 my-1">Самые популярные мастера в филиале салона</h4>
                </div>
                <EditForm class="mb-3" Model="@inputMastersTop" OnValidSubmit="@GetTopMasters">
                    <DataAnnotationsValidator />
                    <label class="mb-2" for="masterTop">Число записей в итоговом рейтинге:</label>
                    <InputNumber class="form-control" id="masterTop" @bind-Value=inputMastersTop.Top />
                    <ValidationMessage For="@(() => inputMastersTop.Top)" />

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-warning mt-3 mb-4">Отобразить</button>
                    </div>
                </EditForm>
                @if (topMasters != null && topMasters.Length > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ФИО</th>
                                <th>Описание</th>
                                <th>Количество записей</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var master in topMasters)
                            {
                                <tr>
                                    <td>@master.ToString()</td>
                                    <td>@master.Specialization</td>
                                    <td>@master.AppointmentsCount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    if (topMasters != null && topMasters.Length == 0)
                    {
                        <p class="text-center">Популярных мастеров нет.</p>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {
    private InputTopRating inputServicesTop = new();
    private InputTopRating inputMastersTop = new();

    private SalonFull? salon;
    private ServiceAppointmentCount[]? topServices;
    private MasterAppointmentCount[]? topMasters;

    private DateRange dateRange = new();
    private decimal? salonIncome;

    protected override async Task OnInitializedAsync()
    {
        await GetSalon();
        await GetSalonIncome();
        if (inputServicesTop.Top > 0)
        {
            await GetTopServices();
        }
        if (inputMastersTop.Top > 0)
        {
            await GetTopMasters();
        }
    }

    private async Task GetSalonIncome()
    {
        var result = await SalonService.GetManagerSalonIncome(dateRange);
        if (result.State == Models.Other.ResultState.Success)
        {
            salonIncome = result.Value!;
        }
    }

    private async Task GetSalon()
    {
        var result = await SalonService.GetManagerSalon();
        if (result.State == Models.Other.ResultState.Success)
        {
            salon = result.Value!;
        }
    }

    private async Task GetTopServices()
    {
        var result = await ServiceService.GetTopManagerSalonServices(inputServicesTop.Top);
        if (result.State == Models.Other.ResultState.Success)
        {
            topServices = result.Value!.ToArray();
        }
    }

    private async Task GetTopMasters()
    {
        var result = await EmployeeService.GetTopManagerSalonMasters(inputMastersTop.Top);
        if (result.State == Models.Other.ResultState.Success)
        {
            topMasters = result.Value!.ToArray();
        }
    }
}
