@page "/manager/account/appointment"
@using BeautySalonSite.Extensions;
@using BeautySalonSite.Models.AppointmentModels;
@using BeautySalonSite.Models.ErrorModels;
@using BeautySalonSite.Models.ExceptionModels;
@using BeautySalonSite.Models.Other;
@using BeautySalonSite.Service.AppointmentService;
@using Microsoft.AspNetCore.Authorization;

@inject IAppointmentService AppointmentService

@attribute [Authorize(Roles = "Manager")]

<PageTitle>Личный кабинет</PageTitle>

<div class="container">
    <div class="py-5">
        <h2>Личный кабинет</h2>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-1 mb-4">
            <div class="block m-1 p-4">
                <ManagerNavMenu></ManagerNavMenu>
            </div>
        </div>
        <div class="col-md-8 order-md-2">
            <div class="m-1">
                <div class="block p-4">
                    <h4 class="my-2">Записи</h4>
                    <ul class="mt-4 nav nav-pills nav-justified">
                        <li class="nav-item">
                            <button class="nav-link @(tab == AppointmentTab.Upcoming? "active" : "")" @onclick="() => SwitchTab(AppointmentTab.Upcoming)">Предстоящие</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link @(tab == AppointmentTab.Completed? "active" : "")" @onclick="() => SwitchTab(AppointmentTab.Completed)">Завершенные</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link @(tab == AppointmentTab.Incomplete? "active" : "")" @onclick="() => SwitchTab(AppointmentTab.Incomplete)">Невыполненные</button>
                        </li>
                    </ul>
                </div>
                <div class="py-3 text-center mb-1 mt-4">
                    <h4>Записи</h4>
                </div>
                @if (appointments != null && appointments.Length > 0)
                {
                    @foreach (var appointment in appointments)
                    {
                        var tempId = appointment.Id;
                        <div class="block mx-3 card mb-3 p-2 pb-3 pe-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <h5 class="card-title mb-4"><b>Дата:</b> @appointment.Date.ToShortDateString()</h5>
                                    <h5 class="card-title"><b>Время:</b> @appointment.Date.ToShortTimeString()</h5>
                                </div>

                                <p class="card-text mt-4"><b>Мастер:</b> @appointment.Master.ToString()</p>
                                <p class="card-text"><b>Клиент:</b> @appointment.Customer.Name</p>
                                <p class="card-text"><b>Услуга:</b> @appointment.Service.Name</p>
                                <p class="card-text"><b>Цена:</b> @appointment.Price</p>
                            </div>
                            @if (error is not null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @error.Message
                                </div>
                            }
                            <div class="d-flex justify-content-end">
                                @if (tab == AppointmentTab.Incomplete)
                                {
                                    <button @onclick="(() => MarkAppointmentComplete(tempId))" class="btn btn-success mt-1">Отметить выполненной</button>
                                }
                            </div>
                        </div>
                    }

                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(paging.PageNumber == 1 ? "disabled" : "")">
                                <a class="btn-warning link-dark page-link" @onclick="PreviousPage">Предыдущая</a>
                            </li>
                            <li class="page-item mx-4">
                                <a class="bg-warning border-warning text-black page-link">@paging.PageNumber</a>
                            </li>
                            <li class="page-item @(hasNextPage ? "" : "disabled")">
                                <a class="btn-warning link-dark page-link" @onclick="NextPage">Следующая</a>
                            </li>
                        </ul>
                    </nav>

                }
                else
                {
                    <p class="text-center">Нет записей.</p>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private Paging paging = new() { PageSize = 15 };
    private bool hasNextPage;

    private AppointmentWithoutStatus[]? appointments;

    private AppointmentTab tab = AppointmentTab.Upcoming;
    private string tabName = "Предстоящие";

    private Error? error;

    private enum AppointmentTab
    {
        Upcoming,
        Completed,
        Incomplete
    }

    protected override async Task OnInitializedAsync()
    {
        appointments = await LoadAppointments();
        await HasNextPage();
    }

    private async Task SwitchTab(AppointmentTab selectedTab)
    {
        tab = selectedTab;
        appointments = await LoadAppointments();
        await HasNextPage();
    }

    private async Task<AppointmentWithoutStatus[]> LoadAppointments()
    {
        switch (tab)
        {
            case AppointmentTab.Upcoming:
                tabName = "Предстоящие";
                return await GetActive();
            case AppointmentTab.Completed:
                tabName = "Завершенные";
                return await GetCompleted();
            case AppointmentTab.Incomplete:
                tabName = "Невыполненные";
                return await GetUncompleted();
        }
        return new AppointmentWithoutStatus[0];
    }

    private async Task MarkAppointmentComplete(int id)
    {
        var result = await AppointmentService.MarkManagerAppointmentCompleted(id);
        if (result.State == ResultState.Success)
        {
            appointments = await LoadAppointments();
            await HasNextPage();
        }

        if (result.State == ResultState.Failure)
        {
            if (result.Exception is NotFoundException)
            {
                error = new() { Message = "Записи не существует" };
                return;
            }

            if (result.Exception is UpcomingAppointmentException)
            {
                error = new() { Message = "Запись еще не наступила." };
                return;
            }

            if (result.Exception is ConflictException e)
            {
                error = new() { Message = e.Message };
                return;
            }
            error = new() { Message = "Что-то пошло не так." };
        }
    }

    private async Task<AppointmentWithoutStatus[]> GetActive()
    {
        var result = await AppointmentService.GetManagerActiveAppointments(paging);
        if (result.State == ResultState.Success)
        {
            return result.Value!.ToArray();
        }
        return new AppointmentWithoutStatus[0];
    }

    private async Task<AppointmentWithoutStatus[]> GetCompleted()
    {
        var result = await AppointmentService.GetManagerCompletedAppointments(paging);
        if (result.State == ResultState.Success)
        {
            return result.Value!.ToArray();
        }
        return new AppointmentWithoutStatus[0];
    }

    private async Task<AppointmentWithoutStatus[]> GetUncompleted()
    {
        var result = await AppointmentService.GetManagerUncompletedAppointments(paging);
        if (result.State == ResultState.Success)
        {
            return result.Value!.ToArray();
        }
        return new AppointmentWithoutStatus[0];
    }

    private async Task PreviousPage()
    {
        if (paging.PageNumber > 1)
        {
            paging.PageNumber--;
            appointments = await LoadAppointments();
        }
        await HasNextPage();
    }

    private async Task NextPage()
    {
        paging.PageNumber++;
        appointments = await LoadAppointments();
        await HasNextPage();
    }

    private async Task HasNextPage()
    {
        paging.PageNumber++;
        var result = await LoadAppointments();
        paging.PageNumber--;

        hasNextPage = !(result is null || !result.Any());
    }
}
