@page "/client/account/appointment"

@using BeautySalonSite.Models.AppointmentModels;
@using BeautySalonSite.Models.Other;
@using BeautySalonSite.Service.AppointmentService;
@using BeautySalonSite.Service.SalonService;
@using Microsoft.AspNetCore.Authorization;

@inject IAppointmentService AppointmentService
@inject ISalonService SalonService

@attribute [Authorize(Roles = "Client")]

<PageTitle>Личный кабинет</PageTitle>

<div class="container">
    <div class="py-5">
        <h2>Личный кабинет</h2>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-1 mb-4">
            <div class="block m-1 p-4">
                <ClientNavMenu></ClientNavMenu>
            </div>
        </div>
        <div class="col-md-8 order-md-2">
            <div class="m-1">
                <div class="block p-4">
                    <h4 class="mt-2">Мои записи</h4>
                    <a href="" class="btn btn-warning mt-4">Записаться</a>
                </div>
                <div class="py-3 text-center mb-1 mt-4">
                    <h4>Предстоящие записи</h4>
                </div>
                @if (activeAppointments != null && activeAppointments.Length > 0)
                {
                    @foreach (var appointment in activeAppointments)
                    {
                        <div class="block mx-3 card mb-3 p-2 pb-3 pe-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <h5 class="card-title mb-4"><b>Дата:</b> @appointment.Date.ToShortDateString()</h5>
                                    <h5 class="card-title"><b>Время:</b> @appointment.Date.ToShortTimeString()</h5>
                                </div>

                                <p class="card-text mt-4"><b>Мастер:</b> <a class="link-yellow" href="">@($"{appointment.Master.Name} {appointment.Master.LastName}")</a></p>
                                <p class="card-text"><b>Услуга:</b> <a class="link-yellow" href="">@appointment.Service.Name</a></p>
                                <p class="card-text"><b>Цена:</b> @appointment.Service.Price</p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="client/account/appointment/@(appointment.Id)/cancel" class="btn btn-danger mt-1">Отменить</a>
                            </div>
                        </div>
                    }

                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(paging.PageNumber == 1 ? "disabled" : "")">
                                <a class="btn-warning link-dark page-link" @onclick="PreviousPage">Предыдущая</a>
                            </li>
                            <li class="page-item mx-4">
                                <a class="bg-warning border-warning text-black page-link">@paging.PageNumber</a>
                            </li>
                            <li class="page-item @(hasNextPage ? "" : "disabled")">
                                <a class="btn-warning link-dark page-link" @onclick="NextPage">Следующая</a>
                            </li>
                        </ul>
                    </nav>

                }
                else
                {
                    <p class="text-center">У вас нет предстоящих записей.</p>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private CustomerAppointment[]? activeAppointments;
    private Paging paging = new() { PageSize = 10 };
    private bool hasNextPage;

    protected override async Task OnInitializedAsync()
    {
        var result = await GetActiveAppointments();
        activeAppointments = result.ToArray();
        await HasNextPage();
    }

    private async Task<IEnumerable<CustomerAppointment>> GetActiveAppointments()
    {
        var result2 = await SalonService.GetSalonIdFromLocalStorage();
        if (result2.State == Models.Other.ResultState.Success)
        {
            var result = await AppointmentService.GetActiveCustomerAppointments(result2.Value!, paging);
            if (result.State == Models.Other.ResultState.Success)
            {
                return result.Value!.ToArray();
            }
        }
        return new CustomerAppointment[0];
    }

    private async Task PreviousPage()
    {
        if (paging.PageNumber > 1)
        {
            paging.PageNumber--;
            var result = await GetActiveAppointments();
            activeAppointments = result.ToArray();
        }
        await HasNextPage();
    }

    private async Task NextPage()
    {
        paging.PageNumber++;
        var result = await GetActiveAppointments();
        activeAppointments = result.ToArray();
        await HasNextPage();
    }

    private async Task HasNextPage()
    {
        paging.PageNumber++;
        var result = await GetActiveAppointments();
        paging.PageNumber--;

        hasNextPage = !(result is null || !result.Any());
    }
}
